{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer List</h1>
    <ul>
        {% for customer in customers %}
            <li>{{ customer.nom }}&nbsp;{{ customer.prenom }} : [ <a href="{{ path('customer_edit', {'id': customer.id}) }}">Edit</a> - <a href="{{ path('customer_delete', {'id': customer.id}) }}">Delete</a> ]</li>
        {% endfor %}
    </ul>
    <a href="{{ path('customerform') }}">Add a customer</a>
{% endblock %}
